################ command config
#git config --global core.autocrlf input
[core]
    editor = vim
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore
    #autocrlf: automatically transfer CRLF to LF versaversa
    #autocrlf:[true: when checkout & commit, input:only commit,false: nothing]
    #input for linux, true for windows
    quotepath = off

[branch]
    autosetuprebase = always

[filter "lfs"]
    smudge = git-lfs smudge -- %f
    clean = git-lfs clean -- %f

################ gui config
[color]
    ui = auto
    branch = true
    diff = true
    status =true

################ user defined
## without ! mean git command
## with ! mean shell command
## git alias moved to script tools/repp
#[alias]
#    alias   = config --get-regexp ^alias\\.
#    st      = status
#    loga    = log --oneline --decorate --graph -n 15 --all
#    logo    = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(blue)<%an>%Creset' --abbrev-commit --date=relative
#    tagcur  = describe --tags --abbrev=0 --match
#    diffc   = difftool -t bc
#    diffv   = difftool -t vimdiff
#    ci      = commit --verbose
#    pushfor = push origin HEAD:refs/for/
    clear   = "!_gitclear() { git reset --hard $1; git clean -xdf; }; _gitclear"

################ commit config
[commit]
    template=~/.proFILEs/gitcommit_message

################ site define
[url "https://github.com/"]
    insteadOf = git://github.com/

