[include]
    path = ~/.proFILEs/.gitconfig


### os specific config
[diff]
    #tool = p4merge
	tool = vimdiff

[difftool "p4merge"]
    cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false

[difftool "vi"]
    prompt=false

[merge]
    keepBackup = false;
    tool = p4merge

[mergetool "p4merge"]
    cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false

